@import './modules/global-styles.scss';

.App {
  text-align: center;
  
  .title {
    color: $color3;
    font-family: 'Lora', sans;
    font-weight: 900;
    font-size: 5rem;
    margin: 1rem auto;
    text-align: center;
    // letter-spacing: 4px;
    word-spacing: 4px;
    text-shadow: 2px 2px 1px $color4;
  }

  .no-results {
    margin: 1.5rem auto;
    font-weight: bold;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
