@import './modules/global-styles.scss';

.App {
  text-align: center;

  .results-container {

    .char-img {
      margin: 0rem auto 0.5rem auto;
      height: 300px;
      border-radius: 6px;
    }

    .results-title {
      margin: 0.1rem auto 0rem auto;
      font-size: 1.2rem;
      text-decoration: underline;
    }

    .episodes-container {
      // border: 1px dotted red;
      width: 25rem;
      margin: 0.5rem auto 1rem auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      // overflow: hidden;
      // align-content: center;
  
      .episode-details {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .recommended-container {
      width: 26rem;
      margin: 0.5rem auto;
      font-size: 0.8rem;
    }
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
